body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin: 0;
}

p, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.btn-primary {
    cursor: pointer;
}

.btn-primary:hover {
    background: #72D235;
    color: #000;
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.header__title {
    font-weight: 400;
    margin-bottom: 25px;
}

.header__announcement {
    display: inline-block;
}

.header__container {
    color: #808080;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    justify-content: space-around;
}

.header__menu-item {
    color: #808080;
    margin-left: 23px;
}

.header__title {
    text-align: center;
    font-size: 75px;
}

.main {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 30px;
}

.main__nav {
    display: flex;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.80);
    font-size: 14px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
}

.main__nav-item {
    color: #fff;
    margin-right: 30px;
}

.main__title {
    font-size: 45px;
    margin-bottom: 20px;
}

.main__article {
    font-size: 18px;
    margin-top: 40px;
}

.main__text {
    margin-top: 30px;
    margin-bottom: 35px;
}

.main__big-pics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__small-pics {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 column-gap: 7px;
}

.block-loose {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 360px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid #000;
}

.block-loose_s {
    padding-bottom: 50px;
}

.block-loose_m {
    padding-bottom: 100px;
}

.block-title-container {
    display: flex;
}

.block-title {
    border-bottom: 3px solid #000;
    white-space: nowrap;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
    width: auto;
}

.block-title_separator {
    border-bottom: 1px solid #000;
}

.block-underline {
    border-bottom: 1px solid #000;
    width: 100%;
}

.socials-wrap {
    width: 100%;
    margin-bottom: 35px;
}

.socials__links {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 45px;

}

.social__link {
    width: 100%;
    max-width: 45px;
    background-repeat: no-repeat ;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social__link-text {
    margin-top: 20px;
}

.users__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
}

.user {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.user__link {
    display: flex;
    align-items: center;
}

.user__avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.user__info {
    margin-left: 15px;
}

.user__name {
    font-size: 14px;
}

.user__description {
    font-weight: 400;
    font-size: 12px;
}

.news {
    max-width: 734px;
    width: 100%;
    border: 1px solid #000;
    margin-top: 40px;
    padding: 20px 20px 20px;
    box-sizing: border-box;
}

.block-wide {
    max-width: 810px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 20px 20px 50px;
    box-sizing: border-box;
    align-self: stretch;
}

.news__title {
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 10px;
}

.news__item {
    display: flex;
    border-bottom: 1px solid #000;
    padding: 10px 20px 10px 0;
}

.news__item-title {
    text-transform: uppercase;
    font-weight: 400;
}

.news-link {
    display: flex;
    align-items: center;
}
.news__item-info {
    margin-top: 5px;
    padding-left: 15px;
}

.news__item-description {
    margin-top: 3px;
}

.news__item-date {
    margin-top: 10px;
}

.news__item-description {
    font-size: 12px;
    font-weight: 300;
}

.news__item-date {
    font-size: 10px;
    font-weight: 300;
}

.announcements {
    max-width: 810px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 20px 20px 20px;
    box-sizing: border-box;
    align-self: stretch;
}

.announcements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}

.announcement {
    max-width: 360px;
    width: 100%;
    padding-bottom: 40px;
}

.announcement-thumbnail {
    position: relative;
    width: 100%;
    height: 180px;
}

.announcement-thumbnail-title {
    position: absolute;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 3px 20px 3px 15px;

    text-transform: uppercase;
}

.announcement-thumbnail-title_mark-color_blue {
    background-color: #00bfff;
}

.announcement-thumbnail-title_mark-color_green {
    background-color: #72D235;
}

.announcement-thumbnail-title_mark-color_purple {
    background-color: #D76F8E;
}

.announcement-thumbnail-title_mark-color_yellow {
    background-color: #F1DC0C;
}

.announcement-title {
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}

.announcement-date {
    font-weight: 300;
    font-size: 12px;
}

.blocks-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 35px;
}

.vertical-container {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: center;
}

.horizontal-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 35px;
}

.btn-primary {
    width: 235px;
    height: 70px;
    background: #7BBA53;
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid #7BBA53;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.btn-primary_s {
    width: 130px;
    height: 40px;
}

.announcement-btn-wrap {
    padding: 0;
    margin-top: 90px;
    align-self: center;
}

.form-button-wrap {
    align-self: flex-end;
    margin-top: 20px;
}

.lections {
    background-color: #dcdcdc;
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 15px 40px;
}

.lections-links {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
}

.lection-link {
    width: 285px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__title {
    font-size: 16px;
    margin: 30px 0 15px;
}

.form__fieldset {
    width: 100%;
}

.form__field {
    margin-top: 20px;
    border-radius: 5px;

}

.form__field:first-of-type {
    margin-top: 0;
}

.form__input {
    height: 45px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    width: 100%;
    border: 1px solid #000;
}

.form__input:focus {
    border: 0;
    outline: 2px solid #000;
}

.footer {
    background-color: rgba(0, 0, 0, 0.80);
}

.footer__text {
    color: #808080;
    text-align: center;
    font-size: 14px;
    padding: 50px;
}