@font-face {
    font-family: 'Roboto';
    src:
            url("Roboto/Roboto-Regular.woff") format("woff"),
            url("Roboto/Roboto-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src:
            url("Roboto/Roboto-Light.woff") format("woff"),
            url("Roboto/Roboto-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src:
            url("Roboto/Roboto-Bold.woff") format("woff"),
            url("Roboto/Roboto-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}